body{
    margin:0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

nav{
    display:flex;
    
    background-color:black;
    color:white;
    justify-content:center;
    
}
nav div{
    padding:2em;
    display:block;
    position:relative;
    display:flex;
    text-align:center;
    overflow:hidden;
}
    nav div::after {
        content: " ";
        position: absolute;
        transform: translateY(-100px);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        /*background-color: rgba(206, 206, 206, 0.15);*/
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.25));
        transition: all 0.2s cubic-bezier(.68,-0.55,.27,1.55);
    }
    nav div:hover::after {
        transform: translateY(0);
    }
    nav div:hover {
        color:#095eb7 ;
        transform:scale(1.1);
        transition: all 0.2s cubic-bezier(.68,-0.55,.27,1.55);
    }

        nav div:hover::before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 8px;
            background-color: #095eb7;
            
        }
        #background-slider{
            display: block;
            position: absolute;
            height:100%;
            width:100%;
            z-index:-1;
            top:0;
            left:0;
            overflow:hidden;
        }
            #background-slider ul {
                margin: 0;
                padding: 0;
                height: 100%;
                position: relative;
                transition: none;
                left: -100vw;
            }
    #background-slider ul.activeleft {
        left: 0vw;
        transition: left 1s ease-in-out;
    }
    #background-slider ul.activeright {
        left: -200vw;
        transition: left 1s ease-in-out;
    }
#background-slider li {
    display: block;
    float: left;
    width: 100vw;
    height: 100%;
    list-style-type: none;
    background-position: center;
    background-size: cover;
    background-color: #a7c5e4;
}
.sliderButton {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -100px;
    background-color: #ffffff00;
    border-radius: 50%;
    font-family: monospace;
    color: grey;
    transition: background-color,color .3s ease-in-out;
    font-size: 0.5em;
    cursor:pointer;
}
    .sliderButton:hover {
        background-color: #ffffff30;
        color: white;
    }
    .sliderButton#slideLeft {
        left: 5vw;
    }
            .sliderButton#slideRight {
                right: 5vw;
            }
    .sliderButton#slideLeft:after {
        content: "<";
        text-align: center;
        display: block;
        font-size: 50px;
        line-height: 50px;
        margin-left: -5px;
    }

    .sliderButton#slideRight:after {
        content: ">";
        text-align: center;
        display: block;
        font-size: 50px;
        line-height: 50px;
        margin-left: 5px;
    }

footer{
    background-color:#131313;
    color:grey;
    padding:1em 0;
    text-align: center;
}